<div class="tracks-wrapper">

  <h1>Songs</h1>

<% if @tracks %>

<% @tracks.each do |song| %>

  <div class="track">
    <h3><a href="/songs/<%= song.id %>"><%= song.song_title %> </a><small>(by: <%= song.artist %>)</small></h3>
    <a href="<%= song.url %>"><%= song.url %></a>
    <p> Posted by <%= song.user.username%> </p>

    <p> Rating <%= song.average_rating %> </p>
    
    <form method="post" action="/rating">
      <!-- <input type="text" name="rating" placeholder="Song rating"> -->
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <input type="hidden" name="track_id" value="<%= song.id %>">
      <input type="submit" value="Submit">
    </form>

  </div>
<% end %>

<a href="/songs/new">Add a song</a>
<a href="/logout"> Logout </a>


<%end%>
</div>