<h1>Songs</h1>

<% if @tracks %>

<% @tracks.each do |song| %>
  <div class="track">
    <h3><%= song.song_title %> <small>(by: <%= song.artist %>)</small></h3>
    <a href="<%= song.url %>"><%= song.url %></a>
    <p> Rating <%= song.average_rating %> </p>
    
    <form method="post" action="/rating">
      <input type="text" name="rating" placeholder="Song rating">
      <input type="hidden" name="track_id" value="<%= song.id %>">
      <input type="submit" value="Submit">
    </form>

  </div>
<% end %>

<a href="/songs/new">Add a song</a>

<%end%>
