<h1><%= @track.song_title %></h1>

<p>Author: <%= @track.artist %></p>

<a href="<%= @track.url %>"><%= @track.url  %></a>

<hr/>
<!-- <a href="/songs">Back to All Songs</a> -->

<% if @comment %>
  <% @comment.each do |review| %>

    <div>
      <p> Posted by <%= review.user.username %> </p>

      <p> Rating <%= review.average_rating %> </p>
      
      <form method="post" action="/review">
        <!-- <input type="text" name="rating" placeholder="Song rating"> -->
        <select name="review">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <!-- <input type="hidden" name="track_id" value="<%= song.id %>"> -->
        <input type="submit" value="Submit">
      </form>

    </div>
  <% end %>
<% end %>

<form method="post" action="/review">
  <textarea name="user_review" cols="60" rows="6"></textarea> <br />
  <input type="hidden" name="user_id" value="<%= review.user.id %>" >
  <input type="hidden" name="track_id" value="<%= @track.id %>" >
  <input type="submit" value="Submit">
</form>

<a href="/songs">Back to All Songs</a>
